.layout {
    height: 100%;
    width: 100%;
    max-width: 10010px;
    min-height: 100%;
    margin: auto;
    box-sizing: border-box;
    flex-direction: column;
    padding-top: 40px;
    display: flex;
    background: linear-gradient(to right, var(--side-bg-color) 30%, var(--main-bg-color) 30%);
}

@media print {
    .layout {
        padding-top: 20px;
    }
}