.section {
    width: 100%;
    margin-bottom: 20px;
}

.header {
    text-transform: uppercase;
    width: 100%;
    border-bottom: 2px solid #575757;
    padding-bottom: 3px;
}

.list {
    list-style: none;
    padding-left: 0;
}

.item {
    margin: 8px 0;
}

.social_link {
    display: block;
    color: var(--primary-color);
    width: fit-content;
}

.link_print_version {
    display: none;
}

@media print {
    .link_print_version {
        display: block;
    }
}

.contact_label {
    font-size: small;
    font-weight: bolder;
    text-transform: uppercase;
}


.language_level {
    font-style: italic;
    line-height: 9px;
}

.skill_item {
    margin: 6px
}