.header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: end;
}

.contacts {
  padding: 10px;
}

.name {
  text-transform: uppercase;
}

.link {
  gap: 5px;
  display: flex;
  align-items: center;
}

.links {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.profile {
  padding: 0 20px;
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.skill {
  color: black;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 10px;
  font-weight: 600;
}

.skills {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}