.header {
  padding: 20px 30px;
  display: grid;

  grid-template-columns: 1fr 1fr;

  .name {
    text-transform: uppercase;
    font-size: var(--size-font-name);
  }

  .position {
    font-size: var(--size-font-position);
  }

  .location {
    font-size: var(--size-font-location);
  }
}

.links {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;

  .link {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 5px;
    align-items: center;
  }
}