.footer {
    padding: 0 20px 10px;
    margin-left: auto;
    font-size: smaller;
    text-align: center;
    height: auto;
}

.link {
    color: #454545;
    text-decoration: none;
}

.caption {
    color: #575757;
    margin: 0;
}

@media print {
    .footer {
        display: none;
    }
}