.colors {
  --color-section-header-background: #edecf6;

  --color-body-background: #f6f8fa;
  --color-page-background: #fafaff;
  --color-page-border: #d0d7de;

  --size-font-location: 1.1em;
  --size-font-name: 2em;
  --size-font-position: 1.3em;
}